<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <style>
        .container{
            background-color: black;
            color: white;
            padding: 50px;
            margin: 0 auto;
            width: 70%;
            font-family: monospace;
            text-align: center;
        }
        h1{
            font-family:Georgia, 'Times New Roman', Times, serif;
        }

        form, table{
            font-size: 14pt;
        }
        form{
            margin-bottom: 20px;
        }
        table{
            border: 2px solid white;
            margin: 20px auto;
            border-collapse: collapse;
        }
        td, th{
            border: 2px solid white;
            padding: 10px;
        }
        #full-url{
            height: 20px;
            width: 50%;
        }
        .btn{
            font-family: monospace;
            font-size: 14pt;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 3px 3px 3px grey;
        }
        .btn:hover{
            box-shadow: 5px 5px 5px grey;
        }
        a{
            color: white;
        }
        a:hover{
            color: aqua;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Link too long? Shorten it.</h1>
        <form action="/short-urls" method="post">
            <label for="full-url">Enter URL:</label>
            <input type="text" id="full-url" name="fullUrl" required>
            <input type="submit" class="btn" value="Shorten">
        </form>  
        <hr>
        <h2>Previously Shortened Links:</h2>  
        <table>
            <thead>
                <th>Full URLs</th>
                <th>Short URLs</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% allUrls.forEach(url => { %>
                    <tr>
                      <td><a href="<%= url.fullUrl %>"><%= url.fullUrl %></a></td>
                      <td><a href="<%= url.shortUrl %>"><%= url.shortUrl %></a></td>
                      <td><%= url.clicks %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>    
    </div>
</body>
</html>